body {
    background-color: rgb(7, 35, 55); 
}
#main-container{
    background-color: rgb(18, 67, 102);
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 5rem;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
     /*50% of room width*/
    height: 30vw; /* 20 times font width*/
    flex-direction: column;
}
h1, p{
    color: white;
    text-align: center;
    font-family: 'Press Start 2P';
    line-height: 1.8vw;
}
h1{
    font-size: 2vw;
}
p{
    font-size: 1.3vw;
}
#start-button{
    margin-top: 4vw;
    font-size: 2vw;
    padding: 2vw;
    font-family: 'Press Start 2P';
    
    color: whitesmoke;
    background-color: rgb(30, 220, 32);
    border-color: green;
}
#start-button:hover {
    background-color: rgb(43, 173, 36);
    color: lightgray;
}
#start-button:active{
    background-color: rgb(100, 250, 100);
    color: black;
    transition: none
}
#back-button{
    margin: 0.2vw;
    font-size: 2vw;
    background-color: rgb(30, 200, 32);
    color: whitesmoke;
    border-color: green;
}