<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="../static/css/tutorial.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    </head>
    <body>
        <div id="main-container">
            <h1>
                How To Play
            </h1>
            <p>
                Use the arrow keys to move around. <br>

                Explore the floor, collect items, and find the stair key before the timer hits zero. Good luck!
            </p>
            <!-- TODO: make sure button leads to game -->
            <button id="start-button"> 
                START
            </button>
        </div>

    </body>
</html>