<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="../static/css/tutorial.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
        <script defer src="../static/js/menu.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <button id="back-button">
            <i class="fas fa-arrow-left"></i>
        </button>
        <div id="main-container">
            <h1>
                How To Play
            </h1>
            <p>
                Use the arrow keys to move around. <br>

                Explore the floor, collect items, and find the stair key before the timer hits zero. Good luck!
            </p>
            <!-- TODO: make sure button leads to game -->
            <button id="start-button"> 
                START
            </button>
        </div>
        <script>
        //inline script
        document.addEventListener('DOMContentLoaded', function () {
            const backBtn = document.getElementById('back-button');
            if (backBtn) {
                backBtn.addEventListener('click', function () {
                    // Navigate to the index page
                    window.location.href = 'index.html';
                });
            }
        });
        </script>
    </body>
</html>